### NPM packages ###
node_modules/

### Compiled files ###
/lab1/dist/
/lab2/dist/
/lab3/dist/

# LaTeX
*.aux
*.lof
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.bbl
*.blg
*.xmpi
*.nav
*.snm

### IDE configuration ###
/.idea/
